<!DOCTYPE html>
<html>
  <head>
	 <meta charset="utf-8">
  <title>WEB CRM</title>
      <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
	<nav>
<a href="/View Contacts/">View Contacts</a> |
<a href="/Add Contact/">Add Contact</a> |
<a href="/Delete Contact/">Delete Contact</a> |
<a href="/Modify Contact/">Modify Contact</a>
</nav>
    <%= yield %>
  </body>

<footer>
  <p>Posted by: Henry Lan</p>
  <p>Contact information: <a href="mailto:henry.lan@mail.com">
  henry.lan@mail.com</a>.</p>
</footer>

</html>